## Homework


1. Загрузить, просмотреть, определить количество строк и склеить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv.

In [1]:
import pandas as pd

In [5]:
df1 = pd.read_csv('marketing_campaign.csv')
df2 = pd.read_csv('subscribers.csv')
df3 = pd.read_csv('users.csv')

In [30]:
df1.head(2)

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True

In [31]:
df2.head(2)

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True

In [32]:
df3.head(2)

           age_group language_preferred
user_id
a1000     0-18 years            English
a1001    19-24 years            English

In [21]:
df1_2 = pd.merge(df1, df2, on = 'user_id', how = 'outer')

In [23]:
df3 = df3.set_index('user_id')
df1_2 = df1_2.set_index('user_id')

In [24]:
df3.head(2)

           age_group language_preferred
user_id
a1000     0-18 years            English
a1001    19-24 years            English

In [27]:
df = df1_2.join(df3, how = 'outer')

In [29]:
df.head()

,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
user_id,,,,,,,,,,,
a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English
a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,19-24 years,English
a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,24-30 years,English
a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,30-36 years,English
a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,36-45 years,English

### 2. Определить количество, типы и описательные статистики колонок (столбцов) получившегося датасета.

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10037 entries, a1000 to a11036
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date_served          10021 non-null  object
 1   marketing_channel    10022 non-null  object
 2   variant              10037 non-null  object
 3   language_displayed   10037 non-null  object
 4   converted            10022 non-null  object
 5   subscribing_channel  1856 non-null   object
 6   date_subscribed      1856 non-null   object
 7   date_canceled        577 non-null    object
 8   is_retained          1856 non-null   object
 9   age_group            10037 non-null  object
 10  language_preferred   10037 non-null  object
dtypes: object(11)
memory usage: 1.2+ MB

In [36]:
df.describe()

,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
count,10021,10022,10037,10037,10022,1856,1856,577,1856,10037,10037
unique,31,5,2,4,2,5,31,115,2,7,4
top,1/15/18,House Ads,control,English,False,Instagram,1/16/18,4/2/18,True,19-24 years,English
freq,789,4733,5091,9793,8946,600,163,15,1279,1682,9275

In [40]:
df.shape

(10037, 11)

### 3. Определить эффективность маркетинговых каналов по привлечению платящих игроков.

In [41]:
df['marketing_channel'].value_counts()

House Ads    4733
Instagram    1871
Facebook     1860
Push          993
Email         565
Name: marketing_channel, dtype: int64

In [54]:
print('Эффективность каналов по привлечению платящих игроков \n', df['marketing_channel'].loc[df['converted'] == True].value_counts())

Эффективность каналов по привлечению платящих игроков
 House Ads    298
Instagram    265
Facebook     237
Email        193
Push          83
Name: marketing_channel, dtype: int64

### 4. Определить самую раннюю дату подписки на сервис.

In [56]:
date = pd.to_datetime(df['date_served'])

In [58]:
date.min()

Timestamp('2018-01-01 00:00:00')

### 5. Определить портрет аудитории удержанных подписчиков (по возрасту и языку).

In [59]:
df[(df['is_retained'] == 1) & (df['age_group']) & (df['language_preferred'])].

Series([], dtype: int64)

In [64]:
subscribers = df.filter(items = ['is_retained', 'age_group', 'language_preferred'])
subscribers.head(15)

        is_retained    age_group language_preferred
user_id
a1000          True   0-18 years            English
a1001          True  19-24 years            English
a1002          True  24-30 years            English
a1003          True  30-36 years            English
a1004          True  36-45 years            English
a1005          True  45-55 years             German
a1006          True    55+ years            English
a1007          True   0-18 years            English
a1008          True  19-24 years            English
a1009          True  24-30 years            English
a1010          True   0-18 years            English
a1011         False  19-24 years            English
a1012         False  24-30 years             Arabic
a1013         False   0-18 years            English
a1014         False  19-24 years            English

In [67]:
subscribers.query('`is_retained` == 1').value_counts()

is_retained  age_group    language_preferred
True         19-24 years  English               304
             24-30 years  English               250
             0-18 years   English               210
             30-36 years  English               114
             45-55 years  English               108
             36-45 years  English               107
             55+ years    English                86
             24-30 years  German                 15
             19-24 years  German                 11
             0-18 years   German                 10
             19-24 years  Spanish                10
             30-36 years  Spanish                 7
             45-55 years  Spanish                 6
             0-18 years   Spanish                 6
             36-45 years  Spanish                 5
             24-30 years  Spanish                 5
             55+ years    Spanish                 5
             24-30 years  Arabic                  3
             0-18 years   Arabic                  3
             45-55 years  German                  3
             55+ years    German                  2
             36-45 years  German                  2
             45-55 years  Arabic                  2
             55+ years    Arabic                  2
             36-45 years  Arabic                  1
             19-24 years  Arabic                  1
             30-36 years  German                  1
dtype: int64